body{
    margin: auto;
}

table{
    border-collapse: collapse;
}

.jaune{
    background-color: gold;
}

.gris{
    background-color: gray;
}

.noir{
    background-color: black;
}

.blue{
    background-color: blue;
}