body{
    margin: 0 auto;
    width: 40%;
    font-family: sans-serif;
}

header{
    background-color: skyblue;
}

header img{
    width: 25%;
    height: 25%;
    float: left;
    padding-left: 1em;
    padding-top: 1em;
}

h1{
    text-align: center;
    padding-bottom: 4em;
    padding-top: 3em;
    color: navy;
}
nav{
    width: 100%;
    background-color: navy;
    text-align: center;
    height: 2em;
    padding-top: 1em;
}

nav a{
    margin-left: 2em;
    margin-right: 2em;
    color : orange;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
}

nav a:hover{
    color: white;
    font-size: 18px;
}

.pikachu{
    color: beige;
}

main{
    border: 1px solid gray;
    height: 1000px;
    background-color: darkgray;
}

main section{
    width: 50%;
    border: 1px solid gray;
    margin: 1.5em;
    float: left;
    padding-left: 1em;
    background-color: rgb(219, 217, 217);
}

aside{
    width: 33.5%;
    border: 1px solid gray;
    margin: 0.5em;
    float: left;
    padding-left: 1em;
    margin-top: 1.5em;
    margin-right: 0.5em;
    padding-bottom: 1em;
    background-color: rgb(219, 217, 217);
}

aside img{
    width: 58.5%;
    height: 58.5%;
    padding-left: 3em;
}

.iframe{
    width: 80%;
    padding-left: 2em;
    padding-right: 3em;
    margin: 2em;
    background-color: rgb(219, 217, 217);
}

iframe{
    padding-left: 2em;
}

footer{
    width: 95%;
    background-color: skyblue;
    padding-left: 2.4em;
    height: 50px;
    padding-top: 2em;
    color: navy;
}

footer i{
    float: right;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: navy;
    transition: 1s;
}

footer i:hover{
    color: orangered;
}
