body{
    width: 100%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background: linear-gradient(#74be81, #0794b1);
}

header img{
    width: 5%;
    height: 5%;
    float: left;
}

header h1{
    color: white;
    padding-top: 0.9em;
}

nav{
    float: right;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin : 1em;
    transition: 0.5s;
}

nav a:hover{
    font-weight: bold;
    text-shadow: 0.05em 0.05em #74be81;
}

marquee{
    border: 1px solid white;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

section{
    width: 75%;
    margin: 0 auto;
}

.japon{
    width: 100%;
    height: 300px;
    margin: 1em;
    background: linear-gradient(#05a2fa, #b15f7f);
    border-radius: 20px;
}

.japon img{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    padding: 1em;
    float: left;
    padding-top: 2em;
}

.japon article{
    width: 65%;
    padding: 1em;
    float: right;
    text-align: left;
    color: white;
    text-shadow: 4px 6px 5px 0px rgba(255,214,255,1);
}

.japon h2{
    text-shadow: 0.05em 0.05em rgb(189, 134, 189);
}

.thailande{
    width: 100%;
    height: 300px;
    margin: 1em;
    background: linear-gradient(#0794b1,#74be81);
    border-radius: 20px;
}

.thailande img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 1em;
    float: right;
    padding-top: 2em;
}

.thailande article{
    width: 65%;
    padding: 1em;
    float: left;
    text-align: center;
    color: white;
}

.thailande h2{
    text-shadow: 0.05em 0.05em #74be81;
}

.inde{
    width: 100%;
    height: 300px;
    margin: 1em;
    background: linear-gradient(#05a2fa,#ffb800);
    border-radius: 20px;
}

.inde img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 1em;
    float: left;
    padding-top: 1em;
}

.inde article{
    width: 65%;
    padding: 1em;
    float: right;
    text-align: right;
    color: white;
}

.inde h2{
    text-shadow: 0.05em 0.05em #bba468;
}

footer{
    background: linear-gradient(#74be81, #0794b1);
    height: 100px;
    color: white;
    padding-top: 0.5em;
}

footer p{
    padding-left: 1em;
}

footer i{
    float: right;
    margin: 1em;
    color: white;
}

@media (min-width: 1px){ /* le @media sert à utiliser le media queries, on utilise le @ pour écrire une règle css, la largeur dont on parle ici est celle de l'écran */
    section{
        width: 200px;
    }

    h2, p{
        font-size: 9px;
    }
    
    .japon, .thailande, .inde{
        height: 500px;
    }

    .japon img, .thailande img, .inde img{
        width: 100px;
        height: 100px;
    }
    
}


@media (min-width: 600px){ /* le @media sert à utiliser le media queries, on utilise le @ pour écrire une règle css, la largeur dont on parle ici est celle de l'écran */
    section{
        width: 500px;
    }

    h2, p{
        font-size: 12px;
    }

    .japon, .thailande, .inde{
        height: 300px;
    }

    .japon img, .thailande img, .inde img{
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 1250px){
    section{
        width: 75%;
        margin: 0 auto;
    }

    h2, p{
        font-size: 16px;
    }

    .japon, .thailande, .inde{
        height: 300px;
    }

    .japon img, .thailande img, .inde img{
        width: 250px;
        height: 250px;
    }
}